
*.compiled
*.o
*.obj
*.res
*.exe
*.lrs
*.ppu
*.rsj
backup/prjtetraplot.lpr
backup/prjtetraplot.lpi
backup/unittetraplotcore.pas
backup/unitformmain.lfm
backup/unitformmain.pas
*.lrj
backup/unitformdiagram.lfm
backup/unitformdiagram.pas
